@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora:wght@400&family=Montserrat:wght@400;700&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    min-height: 150vh;
}

.container {
    background: #181719;
    color: #FFF;
    padding: 1.6rem 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Lora', serif;
}

* {
    box-sizing: border-box;
}

.navbar {
    flex: auto;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.navbar .container .brand-logo {
    border: 1px solid #FFF;
    /* padding: 0.8rem .72rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.2rem;
    height: 3.2rem;
}

.navbar .container .brand-logo a {
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
    font-size: 1.32rem;
    text-decoration: none;
    color: #FFF;
}

.navbar .container img[alt="open-nav"] {
    width: 3rem;
    height: 2rem;
    padding: 0.88rem 0 0.88rem .8rem;
    box-sizing: content-box;
    margin: 0;
    cursor: pointer;
}

.navbar nav {
    display: none;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.6rem;
    padding-bottom: 3.2rem;
}

.hero-text-container h1 {
    font-size: 3.48rem;
    margin-bottom: 1.4rem;
}

.hero-text-container p {
    font-size: 1.4rem;
    width: 24rem;
    margin-bottom: 2.4rem;
}

.hero-text-container p span {
    display: block;
}

.hero-text-container a {
    display: flex;
    text-decoration: none;
    place-content: center flex-start;
    color: #FFF;
}

.hero-text-container a span {
    font-size: 1.4rem;
    font-weight: 700;
    align-self: center;
}

.hero-text-container a .fa-long-arrow-alt-right {
    /* transform: rotate(90deg);
    width: 1.2rem; */
    margin-left: 1.8rem;
    font-size: 1.4rem;
    align-self: flex-end;
    transform: scale(1.6, 1);
}