@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora:wght@400&family=Montserrat:wght@400;500;600;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

:root, body {
    height: 100%;
    --primary-color: #181719;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
}

.overflow-inactive {
    overflow-y: hidden;
}

:root {
    margin: 0;
    padding: 0;
    font-size: 10px;
    scroll-behavior: smooth;
}

@media (min-width: 992px) {
    :root {
        font-size: 9.2px;
    }
}

@media (min-width: 1080px) {
    :root {
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 11.12px;
    }
}

@media (min-width: 1440px) {
    :root {
        font-size: 13.4px;
    }
}



body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.container {
    background: var(--primary-color);
    color: #FFF;
    padding: 1.6rem 1.2rem;
    font-family: 'Montserrat', sans-serif;
    /* max-width: 112.8rem; */
    margin: 0 auto;
}

@media (min-width: 992px) {
    .container {
        padding: 3.2rem 5.8rem;
        width: 108rem;
        /* 58x32 */
    }
}

h1, h2 {
    font-family: 'Lora', serif;
}

* {
    box-sizing: border-box;
}

/* ///NAVBAR/// */

.navbar {
    flex: auto;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: unset;
}

.navbar .container .brand-logo {
    border: 1px solid #FFF;
    /* padding: 0.8rem .72rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.2rem;
    height: 3.2rem;
}


.navbar .container .brand-logo a {
    font-family: 'Crimson Pro', serif;
    text-transform: uppercase;
    font-size: 1.32rem;
    text-decoration: none;
    color: #FFF;
}

@media (min-width: 992px) {
    .navbar .container .brand-logo {
        width: 7.6rem;
        height: 2.4rem;
    }
    .navbar .container .brand-logo a {
        font-size: 1rem;
    }
}

.navbar .container img[alt="open-nav"] {
    width: 3rem;
    height: 2rem;
    padding: 0.88rem 0 0.88rem .8rem;
    box-sizing: content-box;
    margin: 0;
    cursor: pointer;
}

@media (min-width: 992px) {
    .navbar .container img[alt="open-nav"] {
        display: none;
    }
}

/* NAVIGATION MENU */
nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transition: 400ms;
    transform: translateX(100vw);
}

@media (min-width: 992px) {
    nav {
        display: block;
        position: static;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translateX(0);
    }
}

.nav-active {
    transform: translateX(0);
}

.nav-displays {
    display: block;
}

nav .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.6rem 1.2rem !important;
    /* justify-content: space-between; */
}

@media (min-width: 992px) {
    nav .container {
        padding: 0 !important;
    }
}

nav .container img[alt="close-nav"] {
    display: block;
    width: 3rem;
    height: 2.4rem;
    align-self: flex-end;
    position: absolute;
    cursor: pointer;
    margin-top: .8rem;
    /* justify-content: center; */
}

@media (min-width: 992px) {
    nav .container img[alt="close-nav"] {
        display: none;
    }
}

nav .container .list-container {
    display: flex;
    flex-direction: column;
    place-content: center center;
    place-self: center center;
    height: 100%;
}

/* @media (min-width: 992px) {
    nav .container .list-container {
        flex-direction: row;
    }
} */

nav .container .list-container ul {
    display: flex;
    flex-direction: column;
    place-content: center space-between;
    padding: 0;
    font-size: 1.8rem;
    height: 18.6rem;
    text-align: center;
    margin-top: -10rem;
}

@media (min-width: 992px) {
    nav .container .list-container ul {
        flex-direction: row;
        place-content: center space-between;
        height: auto;
        margin: 0;
        width: 40rem;
        font-size: 1.32rem;
    }
}

nav .container ul li {
    list-style-type: none;
    font-weight: 500;
}

nav .container ul li a {
    color: unset;
    text-decoration: none;
}

.nav-btn-active {
    font-weight: 700 !important;
}

/* ///HERO & TEXT/// */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .hero {
        flex-direction: row;
        padding: 12.8rem 0 3.2rem;
    }
}
.hero-text-container {
    display: flex;
    flex-direction: column;
    padding-top: 1.6rem;
    padding-bottom: 3.6rem;
}

.hero-text-container h1 {
    font-size: 3.48rem;
    margin-bottom: 1.4rem;
}

.hero-text-container p {
    font-size: 1.4rem;
    width: 24rem;
    margin-bottom: 2.4rem;
}

.hero-text-container p span {
    display: block;
}

.hero-text-container a {
    font-size: 1.4rem;
    display: flex;
    text-decoration: none;
    place-content: center flex-start;
    color: #FFF;
}

.hero-text-container a span {
    font-weight: 700;
    align-self: center;
}

.hero-text-container a .fa-long-arrow-alt-right {
    /* transform: rotate(90deg);
    width: 1.2rem; */
    margin-left: 1.8rem;
    align-self: flex-end;
    transform: scale(1.6, 1);
}

@media (min-width: 576px) {
    .hero-text-container {
        align-items: center;
    }
    .hero-text-container p {
        width: auto;
        max-width: 376px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .hero-text-container p{
        max-width: 576px;
    }
}

@media (min-width: 992px) {
    .hero-text-container {
        justify-content: center;
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 8rem;
        height: 49.7683rem;
    }

    .hero-text-container p {
        text-align: left;
        width: 28.8rem;
        height: 9.8rem;
        font-size: 1.754rem;
        line-height: 1.24;
        margin-bottom: 4.48rem;
        /* 280x98 */
    }

    .hero-text-container a {
        font-size: 1.28rem;
    }

    .hero-text-container a .fa-long-arrow-alt-right {
        font-size: 1rem;
        align-self: center;
        margin-left: 1.4rem;
    }
}

/* ///HERO PROFILE CARD/// */

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.profile-card img {
    /* background-image: url(../images/photo1.png); */
    width: 100%;
    z-index: 1;
}

@media (min-width: 992px) {
    .profile-card img {
        width: 55.2rem;
        /* height: 32rem; */
    }2
}

.profile-card .profile {
    background: #181719;
    margin-top: -5.4rem;
    margin-right: -2.8rem;
    padding: 1.4rem 2.2rem;
    width: 30rem;
    height: 13.6rem;
    z-index: 1;
    position: relative;
    box-shadow: 0 .1rem .8rem #090909;
    /* 22x56 */
}

@media (min-width: 992px) {
    .profile-card .profile {
        align-self: flex-end;
        margin-right: 2.2rem;
        width: 30.8rem;
        padding-bottom: 13rem;
        margin-top: -5.8rem;
    }
}

.profile-card .profile .profile-img-text {
    display: flex;
    place-content: center flex-start;
    margin-bottom: 2rem;
}

.profile-card .profile img {
    width: 3.72rem;
    height: auto;
    border-radius: 50%;
}

.profile-card .profile .profile-img-text .profile-text {
    display: flex;
    flex-direction: column;
    padding-left: 1.4rem;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .profile-card .profile .profile-img-text .profile-text {

    }
}

.profile-card .profile h3 {
    /* display: inline; */
    margin: .4rem 0;
    text-transform: capitalize;
    font-size: 1.16rem;
    font-weight: 600;
}

@media (min-width: 992px) {
    .profile-card .profile h3 {
        font-size: 1.04rem;
        letter-spacing: .02rem;
    }
}

.profile-card .profile p {
    /* display: inline; */
    margin: 0;
    margin-bottom: .4rem;
    color: #828282;
    font-weight: 600;
    font-size: 1.02rem;
}

@media (min-width: 992px) {
    .profile-card .profile p {
        font-size: .848rem;
        letter-spacing: .04rem;
        word-spacing: .04rem;
    }
}

.profile-card .profile h2 {
    margin: 0;
    margin-left: -.46rem;
    font-size: 1.72rem;
    width: 19.6rem;
}

@media (min-width: 992px) {
    .profile-card .profile h2 {
        font-size: 1.66rem;
    }
}

footer {
    text-align: center;
    font-size: 1.44rem;
    color: #A9A9A9;
    font-weight: 500;
    margin-bottom: .8rem;
}

@media (min-width: 992px) {
    footer {
        font-size: 1.04rem;
    }
}

footer span {
    text-decoration: underline;
    font-weight: 700;
}